[submodule "extern/cglm"]
	path = extern/cglm
	url = https://github.com/recp/cglm
[submodule "extern/tinyobjloader-c"]
	path = extern/tinyobjloader-c
	url = https://github.com/syoyo/tinyobjloader-c.git
